@charset "utf-8";
html,body{
		margin:0;
		padding:0;
		font:Helvetica, 0.99em, black;
	}
	table{
		border:1px;
	}
	div#page{
		width:1100px;
		margin:0 auto;
	}
	main{
		overflow:auto;
	}
	header#logo img{
		height:100px;
		width:200px;
	}
	nav{
		background-color:#e7e7e7;	
		padding:5px;
		margin:0px;
		
	}
	nav#menu ul{
		list-style-type:none;
		margin:0;
		padding:0;
	}
	nav#menu ul li{
		display:inline;
	}
	nav#menu ul li a{
		padding:5px;
		text-decoration:none;
		width:300px;
		background:#e7e7e7;
		color:#999999;
		font-weight:bold;
		text-align:center;		
	}nav#menu ul li a:hover{
		text-decoration:none;
		width:300px;
		background:#e7e7e7;
		color:black;
		text-align:center;
		border-bottom: solid 3px orange;
	}
	div#content{
		width:800px;
		float:left;
	}
	
	table{
		width:400px;
		display:block;
		margin:0 auto;		
	}
	td{
		font-weight:bold;
	}
	td#button{
		text-align:right;
	}
	.input{
		width:200px;
	}
	.button{
		text-align:center;
		width:206px;
		height:25px;
		border:groove #CCCCCC 1px;
		background-color:#9FF;
	}
	p.title{
		text-align:left;
		font-size:1.3em;
		font-weight:bold;
	}
	.img-title{
		display:block;
		margin:0 auto;
	}
	p.text-content{
		padding-top:20px;
		margin:0;
		text-align:justify;	
	}
	
	aside#adv{
		width:300px;
		float:left;
	}
	aside#adv a img{
		display:block;
		width:284px;
		margin:15px;
	}
	footer{
		padding:10px;
		background-color:#003062;		
	}
	div#footer{
		color:white;
		text-align:center;
	}
